In [2]:
import csv, re
import pandas as pd

re_word = re.compile(r'창원시 (.*구) ')

data = {
    '지역': [],
    '초': [],
    '중': [],
    '고': []
}

with open('changwon_school.csv') as f:
    cells = csv.DictReader(f)

    for k in cells:
        index = -1
        region = re_word.search(k['소재지도로명주소']).group(1)

        if region in data['지역']:
            index = data['지역'].index(region)
        else:
            data['지역'].append(region)
            data['초'].append(0)
            data['중'].append(0)
            data['고'].append(0)

        if '초등학교' in k['학교명']:
            data['초'][index] += 1
        elif '중학교' in k['학교명']:
            data['중'][index] += 1
        elif '고등학교' in k['학교명']:
            data['고'][index] += 1

result = pd.DataFrame(data)
result

      지역   초   중   고
0  마산회원구  20  13   7
1  마산합포구  22  11  10
2    의창구  31  15  14
3    성산구  20  15  10
4    진해구  20  11   6